body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}


header {
    background: #1F2937;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-left: 350px;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    padding-right: 350px;
    font-size: 18px;
    display: flex;
    margin: 20px;
    gap: 50px;
    color: #E5E7EB;
}

.footer {
    margin-top: auto;
    color: white;
    background: #1F2937;
}


.awesome-website {
    background: #1F2937;
    color: #F9FAF8;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awesome-left {
    padding-left: 350px;
}

.awesome-title {
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
    color: #F9FAF8;
    padding-bottom: 15px;
}

.awesome-text {
    max-width: 500px;
    padding-bottom: 35px;
    font-size: 18px;
}

.button {
    background: #3882F6;
    color: white;
    font-size: 18px;
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
}

.awesome-right {
    padding-right: 367px;
}

.awesome-image {
    max-height: 250px;
    max-width: 500px;
    border-radius: 20px;
}

.random-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    align-self: center;
    margin: 50px;
}

.ariana {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 5px solid #3882F6;
}

.random-images {
    display: flex;
    justify-content: center;
}

.random-image {
    text-align: center;
}

.random-text {
    width: 150px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.quote {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.quote-text {
    
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 750px;
    align-self: center;
}


.quote-signature {
    font-size: 25px;
    font-weight: 600;
    align-self: flex-end;
    margin-right: 520px;
    margin-top: 30px;
}


.signup {
    display: flex;
    justify-content: center;
}

.signup-box {
    width: 950px;
    height: 130px;
    display: flex;
    background: #3882F6;
    color: white;
    align-items: center;
    margin: 100px;
    border-radius: 5px;
    justify-content: space-around;
}


.signup-title-text {
    font-size: 20px;
}

.signup-title {
    font-weight: 900;
}

.signup-button .button {
    border: 2px solid white;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}